
.task-list-container {
  /* Removed margin as it's handled by global styles now */
  /* Removed font-family as it's handled by global styles now */
}

.task-card {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card mat-card-content {
  flex-grow: 1;
  padding-right: 16px; /* Space between text and buttons */
}

.task-card.completed mat-card-content p {
  text-decoration: line-through;
  color: #888;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  padding: 16px;
}

mat-card-actions button {
  margin-left: 8px; /* Space between buttons */
}
